{% extends 'store/base.html' %}
{% load static %}


{% block content %}




            <!-- about section start -->
            <section class="error-page text-center">
                <div class="container">
                    <h1>404</h1>
                    <h3>الصفحة غير موجودة</h3>
                    <p>لا يوجد محتويات لعرضها في هذة الصفحة </p>
                    <a href="index.html" class="backhome">العودة للصفحة الرئيسية </a>
                </div>
            </section>
            <!-- about section end -->
{% endblock content %}



